variables:
  DOCKER_REPOSITORY: mendersoftware/integration-test-runner
  DOCKER_VERSION: "27.3"

stages:
  - test
  - build
  - publish
  - sync

include:
  - project: Northern.tech/Mender/mendertesting
    file:
      - qa-common/runner.yml
      - qa-common/retry.yml
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-lint.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-unittests-v2.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-build.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-deploy.yml'

default:
  tags: !reference [.qa-common-default-runner, tags]
  retry: !reference [.qa-common-default-retry, retry]


test:unit:
  before_script:
    - !reference [.qa-common-network-git-clone-retry, before_script]
    - !reference [.qa-common-network-go-retry, before_script]
    - apt update && apt install -yq $(cat deb-requirements.txt)
    - pip install PyGithub --break-system-packages

    - git config --global user.email test@example.com
    - git config --global user.name  mendertester

    # Clone this for use in certain tests.
    - git clone --depth 1 https://github.com/mendersoftware/integration
    - export INTEGRATION_DIRECTORY="$(realpath integration)"


test:acceptance_tests:
  stage: test
  tags:
    - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/tiangolo/docker-with-compose
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
      alias: docker
  variables:
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_VERIFY: "1"
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - make acceptance-testing-build
    - make acceptance-testing-up
    - sh -c "sleep 30"
    - make acceptance-testing-run
  after_script:
    - make acceptance-testing-logs
    - make acceptance-testing-down
  artifacts:
    expire_in: 2w
    paths:
      - tests/coverage-acceptance.txt
    when: always

publish:acceptance:
  stage: publish
  allow_failure: true
  rules:
    - if: $CI_COMMIT_BRANCH !~ /^saas-[a-zA-Z0-9.]+$/
  image: registry.gitlab.com/northern.tech/mender/mender-test-containers:goveralls-master
  needs:
    - job: test:acceptance_tests
      artifacts: true
  before_script:
    # Coveralls env variables:
    #  According to https://docs.coveralls.io/supported-ci-services
    #  we should set CI_NAME, CI_BUILD_NUMBER, etc. But according
    #  to goveralls source code (https://github.com/mattn/goveralls)
    #  many of these are not supported. Set CI_BRANCH,
    #  and pass few others as command line arguments.
    #  See also https://docs.coveralls.io/api-reference
    - export CI_BRANCH=${CI_COMMIT_BRANCH}
  script:
    - goveralls
      -repotoken ${COVERALLS_TOKEN}
      -service gitlab-ci
      -jobid $CI_PIPELINE_ID
      -covermode set
      -flagname acceptance
      -parallel
      -coverprofile ./tests/coverage-acceptance.txt

sync:image:
  variables:
    TARGET_MANIFEST_FILE: "kubernetes/mender-test-runner/test-runner-deployment.yaml,kubernetes/cfengine-repos-sync/repos-sync-cfengine-com-deployment.yaml,kubernetes/northerntechhq-repos-sync/repos-sync-northerntechhq-deployment.yaml"
